@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #da5555;
}

.container {
    padding: 20px 60px;
    color: #ffffff;
    background: #426123;
    height: 63vh;
}


.current-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.date-container .time {
    font-size: 40px;
    font-weight: 200;
}

.date-container #am-pm {
    font-size: 30px;
    margin-left: 10px;
}

.date-container .date {
    font-size: 25px;
}

.current-info .other-weather-items {
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eeee;
}

.current-info .other-weather-items .weather-item {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.future-forecast {
    background: rgba(24, 24, 27, 0.8);
    padding: 25px;
    position: fixed;
    bottom: 0;
    display: flex;
    color: white;
    width: 100%;
    justify-content: center;
}

.future-forecast .weather-forecast {
    display: flex;
}

.future-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 0 5px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 4px;
    
}
.center {
    margin: auto;
    width: 50%;
   
    padding: 10px;
    }
.test .wind-speed{
    align-items: center;
    /* justify-content: space-around; */
}

.future-forecast .weather-forecast-item .hour {
    padding: 5px 10px;
    background: rgb(37, 180, 156);
    border-radius: 30px;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-part :where(input,button) {
    /* width: 50%; */
    height: 45px;
    border: 4px solid #3329c4;
    outline: none;
    font-size: 18px;
    border-radius: 7px;
}

.input-part input {
    text-align: center;
    border: 3px solid #0b433a;
}

.input-part .separator {
    height: 1px;
    width: 100%;
    margin: 25px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator::before {
    content: "or";
    padding: 0 15px;
    background: #fff;
    font-size: 19px;
    color: #cccccc;
}

.input-part button {
    color: #ffffff;
    cursor: pointer;
    background: blueviolet;
}
.future-forecast .weather-forecast-item:hover {
    transform: scale(1.1) ;
    -ms-transform: scale(1.1);
    background: #006A5B;
    /*color: #1f61b5;*/
    -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    transition: .5s ease-in-out ;

}

/* On screens that are between 320px to 520px */
@media only screen and (min-width:320px) and (max-width:520px) {
    .container{
        background-color: #222831;
        padding: 40px;
        height: 50vh;
    }
    .current-info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .wrapper{
        /*display: none;*/
    }
    .future-forecast {
        position: absolute;
        bottom: 0;
        padding: 10px;

    }
    .future-forecast .weather-forecast-item {
       
        width: 100px;
    }
    .date-container .time{
        font-size: 50px;
    }
    .date-container #am-pm{
        font-size: 20px;
    }
    .date-container .date{
        font-size: 20px;
    }
    .current-info .other-weather-items{
        display: none;
    }
    .current-conditions{
        display: none;
    }
    .input-part :where(input,button) {
        height: 45px;
        border: 4px solid #3329c4;
        outline: none;
        border-radius: 7px;
    }
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

}
@media only screen and (max-width : 2140px) {
    .future-forecast{
        justify-content: start;
        overflow-x: scroll;
    }
}
.test{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}